<?xml version="1.0" encoding="UTF-8"?>
<server description="FHIR Server with Keycloak OAuth">

    <variable name="fhir.config.dir" value="/opt/ol/wlp/usr/servers/defaultServer/config/default"/>

    <featureManager>
        <feature>jwt-1.0</feature>
        <feature>mpJwt-1.2</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>appSecurity-3.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>servlet-4.0</feature>
        <feature>jdbc-4.1</feature>
        <feature>json-1.0</feature>
        <feature>websocket-1.1</feature>
        <feature>distributedMap-1.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443"/>
    <keyStore id="defaultKeyStore" password="${env.KEYSTORE_PASSWORD}" />

    <!-- CORS Configuration -->
    <cors domain="/"
      allowedOrigins="http://localhost:8085, http://localhost:9009, http://127.0.0.1:8085, http://127.0.0.1:9009"
      allowCredentials="true"
      allowedHeaders="Origin, Content-Type, Accept, Authorization, X-FHIR-TENANT-ID, X-FHIR-DSID, X-Requested-With, Cache-Control"
      allowedMethods="GET, POST, PUT, DELETE, PATCH, OPTIONS, HEAD"
      exposeHeaders="Location, Content-Location, ETag, Last-Modified"
      maxAge="3600" />

    <!-- MicroProfile JWT Configuration for Keycloak Bearer Token Authentication -->
    <mpJwt id="fhirMpJwt"
        jwksUri="http://keycloak:8080/realms/fhir/protocol/openid-connect/certs"
        audiences="smart_cds_platform, hapi-fhir-client"
        issuer="http://localhost:8080/realms/fhir"
        userNameAttribute="sub"
        groupNameAttribute="groups"
        clockSkew="5m"
        tokenReuse="true"
        ignoreApplicationAuthMethod="true" />

    <!-- FHIR Server Web Application -->
    <webApplication id="fhir-server"
                    location="/opt/ol/wlp/usr/servers/defaultServer/apps/fhir-server.war"
                    name="fhir-server">
        <application-bnd>
            <security-role name="FHIRUsers">
                <special-subject type="ALL_AUTHENTICATED_USERS" />
            </security-role>
        </application-bnd>
        <classloader commonLibraryRef="fhirUserLib" />
    </webApplication>

    <!-- User-contributed libraries -->
    <library id="fhirUserLib">
        <fileset dir="${server.config.dir}/userlib" includes="*.jar"/>
        <folder dir="${server.config.dir}/config/default" />
    </library>

    <!-- Shared library definitions for the supported database types -->
    <library id="sharedLibDerby">
        <fileset dir="${shared.resource.dir}/lib/derby" includes="*.jar"/>
    </library>
    <library id="sharedLibPostgres">
        <fileset dir="${shared.resource.dir}/lib/postgresql" includes="*.jar"/>
    </library>

    <!-- Derby Embedded DataSource for IBM FHIR Server (default tenant/datastore) -->
    <dataSource id="fhirDatasourceDefault" jndiName="jdbc/bootstrap_default_default" type="javax.sql.DataSource"
                statementCacheSize="200" syncQueryTimeoutWithTransactionTimeout="true">
        <jdbcDriver javax.sql.XADataSource="org.apache.derby.jdbc.EmbeddedXADataSource" libraryRef="sharedLibDerby"/>
        <properties.derby.embedded databaseName="derby/fhirDB" createDatabase="create"/>
        <connectionManager maxPoolSize="50"/>
    </dataSource>

    <include location="${server.config.dir}/configDropins/defaults/bulkdata.xml"/>
    <include location="${server.config.dir}/configDropins/defaults/open-default-port.xml"/>

</server>
